<header id="header">

    <div class="header--logo">
        <div class="container">{% include logo.html %}</div>
    </div>

    <div style="padding-top:0px;margin-top:-40px;" class="header--intro">

        <div class="container">
            <div class="intro--text">
                {% if site.active %}
                <p>{{ site.intro-active-1 }}<br>{{ site.intro-active-2 }}</p>
                {% else %}
                <p>{{ site.intro-1 }}<br>{{ site.intro-2 }}</p>
                {% endif %}
            </div>
        </div>
    </div>

</header>