<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

    <body id="ryanranchvaccines" class="theme--light ui">

        <div class="wrapper">

            {% include header.html %}

            <main id="main" role="main">

				<section class="cta">

					<p>This site is operated by <strong>Michael Airola</strong> since <strong>2021</strong>.</p>

					<p>For any inquiry, please reach me through email at <strong>me@michaelairola.com</strong>.</p>

				</section>

            </main>

            {% include footer.html %}

        </div>

    </body>

</html>